
body {
  /* text-align: center; */
  margin: auto;
}

/* Selects Add A Pothole component */
#CreatePothole {
  background: rgb(204, 48, 48);
  padding: 10px 20px;
  color: white;
  text-align: center;
  display: block;
  width: 150px;
  border-radius: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#CreatePothole:hover {
  background: #ac1919;
}

.ui.grid {
  margin-left: 5px;
}
